body{
	background-color: #B7F0FC; 
	color: #3E0C91;
	font-size: large;
} 

p{
	font-family: cursive;
}

.class1, p.class2{
	color: red;
}

.class2{
	background-color: green;
}

.class3{
	border: 1px blue dashed;
	border-radius: 15px;
}

#paragraph1{  
	border-radius: 10px;
}

p img{
	width: 25%;
}

div {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: #69D2E7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
}

/* Comments !! */



