body{
	background-color: #9CDBF2; 
	color: #F90762;
	font-size: "apercu mono";
} 

p{
	font-family: "apercu mono";
}

/*
.class1, p.class2{
	color: red;
}

.class2{
	background-color: green;
}

.class3{
	border: 1px blue dashed;
	border-radius: 15px;
}

#paragraph1{  
	border-radius: 10px;
}

p img{
	width: 25%;
}
*/
/* Comments !! */