
h1 {
  font-style: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 80px;
  text-align: center;
  color: #654a4e; 
}

h2 {
  font-style: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 30px;
  text-align: center;
  color: #654a4e; 
}

p {
  color: #523E41;
}

body {
  background-color: #e6ddde;
  text-align: center;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  display: block;
  font-size: 20px; 
  margin-left: 50px;
  margin-right: 50px;
}

canvas {
  background: url("../images/Swimming_Pool.png"); 
  margin-bottom: 20px;
  display: block;
  border: 15px solid #ffffff;
  /*background-color: #9ae4db;*/
  margin-left: 280px;
}

hr {
  display: block;
  border-top: 1px solid #916a70;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 60px;
  margin-right: 60px;
}

label, input { 
  display: block; 
}

input.text { 
	margin-bottom:12px; 
  width:95%; 
  padding: .4em; 
}

fieldset { 
  padding:0; 
  border:0; 
  margin-top:25px; 
}

div#users-contain, div#dolphinTable, div#winningDolphins, div#scoreboard { 
  width: 350px; 
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  border: 15px solid #ffffff;
  margin-left: 400px;
  width: 350px;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px;
  background-color: #f8f5f5;
  color: #523E41;
}

td, th {
  border: 5px solid #ffffff; 
  padding: .6em 10px; 
  text-align: center; 
}

th {
  background-color: #e4ffff;
  color: #fe5b4d;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 24px;
}

label {
  text-align: left;
  color: #fe5b4d;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px;
}

input[type = text] {
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px;
}

.brightRed {
  color: #fe5b4d;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  display: block;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px; 
}

.underline {
  text-decoration-line: underline;
  text-decoration-color: #f5f1f2;
  /*border-bottom: 4px solid #f5f1f2*/
}

.normalText {
  color: #523E41;
  text-align: left;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  display: block;
  font-size: 20px; 
  margin-left: 150px;
  margin-right: 150px;
}

.signUpText {
  color: #fe5b4d;
  text-align: center;
  display: block;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px; 
  margin-left: 80px;
}

.normalBrightRed {
  color:  #fe5b4d;
  text-align: center;
  display: block;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px; 
  margin-left: 150px;
  margin-right: 150px;
}

.styleButton {
  background-color: #916a70;
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
}

.ui-dialog .ui-state-error { 
  padding: .3em; 
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px;
}

.validateTips { 
  border: 1px solid transparent; 
  padding: 0.3em; 
  font-family: "Cambria", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
  font-size: 20px;
}