* { 
	padding: 0; 
	margin: 0; 
}

canvas {
	background: #fefefc; 
	margin: 0 auto; 
	margin-bottom: 20px;
    display: block;
    overflow: auto;
    overflow-y: auto;
    border: 1px solid #e2e2da;
    border-radius: 5px;
    line-height: 1.5em;
}

body {
	font-family: "Book Antiqua", "Times New Roman", Times, Palatino, serif; 
	margin: 0;
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 120px;
}

h1 {
	font-family: "Apercu Mono", "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, Palatino, serif; 
	margin-top: 30px;
	text-align: center;
	background-color: #E6E6FF;
}

h2 {
	font-family: "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, Palatino, serif;
}

ul, ol {
	margin-left: 60px;
}

ul {
	font-weight: normal; 
}

mark {
    background-color: #D9F2FF; 
}

pre {
    background-color: #fefefc;
    color: #585858;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    font-size: 14px;
    padding: 1.8em 6px 1.8em 16px;
    margin-bottom: 1.5em;
    display: block;
    overflow: auto;
    overflow-y: auto;
    border: 1px solid #e2e2da;
    border-radius: 5px;
    line-height: 1.5em;
}

button {
	margin-bottom: 50px;
	margin-right: 30px;
	/*
	margin: 0 auto;
	display: block;*/
}

/* centers buttons */
.centerButton {
	display: flex; 
	justify-content: center;
}

/*
.styleButton {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: #0192dd; //#69D2E7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
}
*/

/* prettifies button */
.styleButton {
	-moz-box-shadow: inset 0px 0px 15px 3px #0192dd;
	-webkit-box-shadow: inset 0px 0px 15px 3px #0192dd;
	box-shadow: inset 0px 0px 15px 3px #0179cc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0192dd), color-stop(1, #0179cc));
	background: -moz-linear-gradient(top, #0179cc 5%, #0192dd 100%);
	background: -webkit-linear-gradient(top, #0179cc 5%, #0192dd 100%);
	background: -o-linear-gradient(top, #0179cc 5%, #0192dd 100%);
	background: -ms-linear-gradient(top, #0179cc 5%, #0192dd 100%);
	background: linear-gradient(to bottom, #0179cc 5%, #0192dd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0192dd", endColorstr="#0179cc",GradientType=0);
	background-color: #0179cc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #0176ca;
	display: inline-block;
	cursor: pointer;
	color: #E6E6FF;
	font-family: "Book Antiqua";
	font-size: 15px;
	padding: 6px 13px;
	text-shadow:0px 1px 0px #016dc0;
}

/* Adding blank space after this item */
.spaceAfter { 
	margin-bottom: 1em;
	display: block;
}

/* Adding blank space before this item */
.spaceBefore { 
	margin-top: 1em;
	display: block;
}